[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xarray = "*"
ipython = "*"
pandas = "*"
"netcdf4" = "*"
matplotlib = "*"
cartopy = "*"
neovim = "*"
xlrd = "*"
"python-hdf4" = "*"
rasterio = "*"
gdal = "*"

[dev-packages]

[requires]
python_version = "3.6"
