[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xarray = "*"
ipython = "*"
pandas = "*"
"netcdf4" = "*"
matplotlib = "*"
"0cb8bc3" = {file = "https://software.ecmwf.int/wiki/download/attachments/56664858/ecmwf-api-client-python.tgz"}

[dev-packages]

[requires]
python_version = "3.6"
